#services{
  overflow: hidden;
  .container{

    .service-grid{
      display: -ms-grid;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      margin: 100px 0 0;

      .card{
        background: white;
        width: 33.33%;
        min-width: 300px;
        display: -ms-flexbox;
        display: flex;
        margin: 1%;
        //max-width: 430px;
        transition: all 1s ease-in-out 0s;

        .icon-wrapper{
          display: flex;
          padding: 20px;
          align-items: center;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          width: 76px;
          transition: background 1s ease-in-out 0s;
          i{
            font-size: 2rem;
            text-align: center;
          }
        }

        &.red{
          .icon-wrapper{
            background: #c04d64;
          }
        }

        &:hover{
              box-shadow: #0000007d 0px 0px 20px 0px;
          transform: scale(1.1);
          .icon-wrapper{
            background: #c05555;
          }
        }
        .info-wrapper{
          padding: 40px;
          border-right: #c04d64 dashed 2px;
          h4{
            font-size: 1.2rem;
            text-transform: uppercase;
            margin: 0 0 30px;
            font-weight: 500;
          }
          p{
            line-height: 1.3rem;

          }

        }

      }
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  #services{
    .container{

      .service-grid{
          flex-wrap: wrap;

        .card{
          width: 48%;
          max-width: 529px;
          margin: 3% 1%;
          .icon-wrapper{

            i{

            }
          }

          &.red{
            .icon-wrapper{
            }
          }

          &:hover{

            .icon-wrapper{
            }
          }
          .info-wrapper{

            h4{

            }
            p{
            }

          }

        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #services{
    .container{

      .service-grid{
          flex-wrap: wrap;

        .card{
          width: 100%;
          //max-width: 529px;

          .icon-wrapper{

            i{

            }
          }

          &.red{
            .icon-wrapper{
            }
          }

          &:hover{

            .icon-wrapper{
            }
          }
          .info-wrapper{

            h4{

            }
            p{
            }

          }

        }
      }
    }
  }
}
