#testimonial {
  padding: 0 0 150px;

  .short {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    letter-spacing: 0.3rem;
    padding-top: 100px;
    padding-bottom: 100px;
    text-shadow: #8e8e8e85 0 0 4px;
  }

  .container {
    margin-bottom: 0;
    max-width: 1200px;
    padding: 0 20px;

    .testimonial-body {
      margin: 0 auto 20px;

      .testimonial-grid {
        display: flex;
        justify-content: flex-start;
        position: relative;
      }

      .test-img {
        height: 400px;
        width: 20%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }

      .spacer {
        box-shadow: inset black 20px 0 0 5px;
        width: 80%;
        animation: collapse-spacer 1s ease-in forwards;
        background: linear-gradient(-90deg, white 90%, rgba(255, 255, 255, 0.45));
      }

      .test-info {
        background: white;
        padding: 20px;
        width: 74%;
        overflow: hidden;
        max-height: 384px;
        position: absolute;
        top: 55px;
        right: 0;
        .read-more{
          display: inline;
          a{
            cursor: pointer;
            color: red;
            font-weight: 500;
          }

        }

        .more{
          display: none;
          &.extended{
            display: inline;
          }
        }
        .test-from {
          text-align: center;

          h3 {
            font-size: 2rem;
            text-transform: uppercase;
            color: black;
          }

          p {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: gray;
            text-indent: 0;
          }
        }

        p {
          line-height: 1.8rem;
          font-size: 1.2rem;
          letter-spacing: 1px;
          text-indent: 3rem;
          margin-top: 25px;
          font-style: italic;
        }
      }

      &:nth-child(odd) {
        .testimonial-grid {
          flex-direction: row-reverse;

          .spacer {
            box-shadow: inset black -20px 0 0 5px;
            animation: collapse-spacer-odd 1s ease-in forwards;
            background: linear-gradient(90deg, white 90%, rgba(255, 255, 255, 0.45));
          }

          .test-info {
            left: 0;
          }
        }
      }
    }
  }
}

@keyframes collapse-spacer-odd {
  0% {
    width: 80%;
        background: linear-gradient(-90deg, white 90%,rgba(255, 255, 255, 0.45));
  }

  90% {
        background: linear-gradient(-90deg, white 90%, rgba(255, 255, 255, 0.45));
  }

  100% {
    width: 10%;
    background: transparent;
  }
}

@keyframes collapse-spacer {
  0% {
    width: 80%;
        background: linear-gradient(90deg, white 90%,rgba(255, 255, 255, 0.45));
  }

  90% {
        background: linear-gradient(90deg, white 90%, rgba(255, 255, 255, 0.45));
  }

  100% {
    width: 10%;
    background: transparent;
  }
}

@media only screen and (max-width: 768px) {
  #testimonial {
    padding: 0 0 150px;

    .short {
          font-size: 2rem;
    }

    .container {


      .testimonial-body {


        .testimonial-grid {

        }

        .test-img {
          height: 400px;
          width: 20%;
          background-repeat: no-repeat !important;
          background-size: cover !important;
        }

        .spacer {

        }

        .test-info {
          position:static;
           max-height: unset;
          .read-more{
            display: inline;


          }

          .more{
            display: none;
            &.extended{
              display: inline;
            }
          }
          .test-from {


            h3 {
                  font-size: 1.5rem;
            }

            p {
                    font-size: 1rem;
            }
          }

          p {
            font-size: .8rem;
          }
        }

        &:nth-child(odd) {
          .testimonial-grid {


            .spacer {

            }

            .test-info {

            }
          }
        }
      }
    }
  }
 }
