
#testimonial{
      padding: 0 0 150px;
  .short{
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: 0.3rem;
  padding-top: 100px;
  padding-bottom: 100px;
  text-shadow: #8e8e8e85 0px 0px 4px;
  background: white;
  }
  .container{
    margin-bottom: 0;
    max-width: 1200px;
    padding: 0;

    .testimonial-body{
      margin: 0 auto 20px;
      .testimonial-grid{
        display: flex;
        justify-content: center;
        }
        .test-img{
          height: 400px;
          width: 50%;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          animation: collapse-img 1.5s ease-in forwards;
        }
        .spacer{
              box-shadow: inset black 20px 0px 0px 5px;
              width: 70%;
              animation: collapse-spacer 2s ease-in forwards;
              &.right{
                    box-shadow: inset black -20px 0px 0px 5px;
              }
        }
        .test-info{
          background: white;
          padding: 20px 0;
          //width: 232%;
          width: 0%;
          overflow: hidden;
          max-height: 384px;
          animation: collapse 2s ease-in forwards;
          .test-from{
            h3{
              font-size: 2rem;
              text-transform: uppercase;
              color: black;
            }
            p{
              font-size: 1.2rem;
              text-transform: uppercase;
              color: gray;
            }
          }
          p{
            line-height: 1.8rem;
            font-size: 1.2rem;
            letter-spacing: 1px;
            text-indent: 3rem;
            margin-top: 25px;
            font-style: italic;
          }
        }
      }

  }

}

@keyframes collapse {
  0%{
    width: 0%;
  }
  100%{
    width: 200%;
  }
}

@keyframes collapse-spacer{
  0%{
    width: 2%;
  }
  100%{
    width: 20%;
  }
}

@keyframes collapse-img{
  0%{
    width: 50%;
  }
  100%{
    width: 30%;
  }
}
