@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "hero";
@import "services";
@import "portfolio";
@import "experience";

body {
  font-family: 'Roboto', sans-serif;
  // background: purple;
  background: white;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;

  h2 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 120px 0;
    letter-spacing: 0.3rem;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    h2 {
      font-size: 3rem;
    }
  }
}
//// TODO: add inner shapes to experience;

#blog{
  .container{
    h2{
      position: relative;
      top: -150px;
    }
    .blog-grid-wrapper{
      .blog-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 500px;
        grid-gap: 10px;
        .blog-post{
          .post-img{
            height: 200px;
            background-repeat:  no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
          }
          .post-body{
            h3{
              margin: 40px 0 20px;
              text-transform: uppercase;
              letter-spacing: .2rem;
              font-weight: 500;
              font-size: 1.1rem;
              text-align: center;
            }
            p{
              padding:20px;
              line-height: 1.5rem;

              color: grey;
            }
          }
        }
      }
    }
  }
}
